@model IEnumerable<GroupExtended>

<h1>Учебные группы</h1>

@Html.ActionLink("Учебные группы", "Index", "Home")

<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Teacher)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentsCount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Teacher)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StudentsCount)
                </td>
                <td>
                    @Html.ActionLink("Редактировать", "EditGroup", "Home", new { id = item.Id }, null)
                </td>
            </tr>
        }
    </tbody>
</table>

<p>
    <a href="/Home/CreateGroup" class="btn btn-primary">Создать учебную группу</a>
</p>
